<!--<!DOCTYPE html>-->
<!--<html lang = "ja-jp">-->
<!--<head>-->

<!--&lt;!&ndash; Global site tag (gtag.js) - Google Analytics &ndash;&gt;-->
<!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136692212-1"></script>-->
<!--<script>-->
<!--window.dataLayer = window.dataLayer || [];-->
<!--function gtag(){dataLayer.push(arguments);}-->
<!--gtag('js', new Date());-->

<!--gtag('config', 'UA-136692212-1');-->
<!--</script>-->
<!--<title>post-detail</title>-->
<!--<link rel="shortcut icon" href="../../media/media/okada-logo2.png" type="image/png">-->
<!--<meta charset="utf-8">-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">-->
<!--</head>-->
<!--<body>-->
<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<!--<a class="navbar-brand" href="http://okd-blog.net/posts/">Okada's blog</a>-->
<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--<span class="navbar-toggler-icon"></span>-->
<!--</button>-->

<!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--<ul class="navbar-nav mr-auto">-->
<!--<li class="nav-item active">-->
<!--<a class="nav-link" href="../">Home <span class="sr-only">(current)</span></a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link" href="https://twitter.com/TokadaTweet">twitter</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--<a class="nav-link" href="https://github.com/okadateru">Github</a>-->
<!--</li>-->
<!--</ul>-->

<!--</div>-->
<!--</nav>-->

{% extends "base.html" %}

{% block body %}

<!--<div class="container">-->
<br/>
<a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
<br/><br/>
{{ post.published }}
<br/><br/>
<img src="{{ post.image.url }}" class="img-fluid rounded" style="max-height: 200px;"/>
<br/><br/>
{{ post.body_to_markdown | safe }}
<br/><br/>

<!-- 日本語化したJSを読み込む -->
<script type="text/javascript" src="/include/js/htmlcommentbox.js"></script>

<!-- begin wwww.htmlcommentbox.com -->
<div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">HTML Comment Box</a> is loading comments...</div>
<link rel="stylesheet" type="text/css"
      href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0"/>
<script type="text/javascript" id="hcb"> /*<!--*/
if (!window.hcb_user) {
    hcb_user = {};
}
(function () {
    var s = document.createElement("script"), l = hcb_user.PAGE || ("" + window.location).replace(/'/g, "%27"),
        h = "https://www.htmlcommentbox.com";
    s.setAttribute("type", "text/javascript");
    s.setAttribute("src", h + "/jread?page=" + encodeURIComponent(l).replace("+", "%2B") + "&mod=%241%24wq1rdBcg%248RdSS2yy7xikjf%2Ff2EMdM%2F" + "&opts=16862&num=10&ts=1554864192250");
    if (typeof s != "undefined") document.getElementsByTagName("head")[0].appendChild(s);
})(); /*-->*/ </script>
<!-- end www.htmlcommentbox.com -->

{% endblock %}